<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="" [formGroup]="resumeForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="fname">First Name  *</label>
                    <input type="text" class="form-control" id="fname" formControlName="firstName">
                    <span class="help-block" *ngIf="!resumeForm.get('firstName')?.valid&&resumeForm.get('firstName')?.touched" >please enter valid firstName</span>

                </div>

                <div class="form-group">
                    <label for="">Last Name  *</label>
                    <input type="text" class="form-control"  formControlName="lastName">
                    <span class="help-block" *ngIf="!resumeForm.get('lastName')?.valid&&resumeForm.get('lastName')?.touched" >please enter valid lastName</span>
                </div>

                <div class="form-group" style="padding-top: 20px;">
                    <label for="dateofbirth">Date Of Birth:</label>
                    <input type="date" id="dateofbirth" name="dateofbirth" formControlName="dateofbirth">
                </div>

                <div class="form-group" style="padding-top: 20px;">
                    <label for="">Email  *</label>
                    <input type="text" class="form-control" formControlName="email">
                    <span class="help-block" *ngIf="!resumeForm.get('email')?.valid&&resumeForm.get('email')?.touched" >please enter valid email</span>
                </div>
                
                <div class="form-group" style="padding-top: 20px;">
                    <label for="" class="radio-inline">Gender :
                    <div *ngFor="let gender of genders" class="form-check form-check-inline">
                        <input type="radio" name="gender" [value]="gender" formControlName="gender" >{{gender}}
                    
                    </div>
                </label>
                </div>
       <div formGroupName="languages">
        <label for="">Languages Known :</label>
        <div  style="padding-top: 5px;">
                <label for="" >
                    <input type="checkbox" formControlName="english">English
                </label>
        </div>

        <div  >
                <label for="" >
                    <input type="checkbox" formControlName="hindi">Hindi
                </label>
        </div>

        <div >
                <label for="" >
                    <input type="checkbox" formControlName="malayalam">Malayalam
                </label>
        </div>

        <div >
                <label for="" >
                    <input type="checkbox" formControlName="tamil">Tamil
                </label>
        </div>

        <div >
                <label for="" >
                    <input type="checkbox" formControlName="others">Others
                </label>
        </div>

        </div>
              
            <div formGroupName="address" style="padding-top: 20px;">
                <label for="">Address :</label>
                <div class="form-group" style="padding-top: 10px;">
                    <label for="house_no">House No.</label>
                    <input type="house_no" class="form-control" id="house_no" formControlName="house_no">

                </div>


                
                <div class="form-group" style="padding-top: 10px;">
                    <label for="street">Street</label>
                    <input type="street" class="form-control" id="street" formControlName="street">

                </div>


                <div class="form-group">
                    <label for="city">City  *</label>
                    <input type="text" class="form-control" id="city" formControlName="city">
                    <span class="help-block" *ngIf="!resumeForm.get('address.city')?.valid&&resumeForm.get('address.city')?.touched" >please enter valid City</span>

                </div>


                <div class="form-group">
                    <label for="state">State  *</label>
                    <input type="text" class="form-control" id="state" formControlName="state">
                    <span class="help-block" *ngIf="!resumeForm.get('address.state')?.valid&&resumeForm.get('address.state')?.touched" >please enter  State</span>

                </div>


                <div class="form-group">
                    <label for="pincode">Pincode  *</label>
                    <input type="text" class="form-control" id="pincode" formControlName="pincode">
                    <span class="help-block" *ngIf="!resumeForm.get('address.pincode')?.valid&&resumeForm.get('address.pincode')?.touched" >please enter valid pincode</span>

                </div>

            </div>

            <div formArrayName="experience">
                <ng-container *ngFor="let exp of addexp,let i=index">
                    <h5>Experience</h5>
                    <input type="text" placeholder="company name" formControlName="companyname">
                    <input type="text" placeholder="position" formControlName="position">
                    <div formGroupName="years"> 
                        <input type="date" placeholder="date of joining" formControlName="dateofjoining">
                        <input type="date" placeholder="date of resign" formControlName="dateofresign">
                     </div>
                    
                    <button class="btn btn-sm btn-danger" (click)="onExpRemove(i)">Remove Experience</button>

                    
                </ng-container>
               <div class="form-group">
                <button class="btn btn-sm btn-primary" (click)="onExpAdd()">Add Experience</button>
                
            </div> 
                
            </div>

                <div style="padding-top: 20px;">
                    <button type="submit" class="btn btn-primary" [disabled]="!resumeForm.valid">Submit</button>
                    <button type="reset" class="btn btn-danger">Reset</button>
                </div>
               



            </form>
        </div>
    </div>
</div>